.container{

    margin: 50px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form{

    width: 50%;
    display: flex;
    gap: 20px;
}

.form input{
    width: 100%;
    height: 32px;
    border: 0;
    padding: 0 8px;
    border-radius: 4px;
    outline: none;
}
.form button{
    background: transparent;
    
}

.tcontainer{
    
    text-align: center;
    font-size: 18px;
    

}

table {

    border-collapse: separate;
    border-spacing: 0 14px;
    margin:0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

}

table-caption{
    font-size: 16px;
    margin: 0.5em 0 .75em;
}

.th{
    color: #fff;

}

.tr{

    background-color: #1d1c20;    
    
}

td{
    padding: 6px;
}

td:first-child,
th:first-child{
    border-radius: 12px 0 0 12px;
}

th:last-child,
td:last-child{
    border-radius: 0 12px 12px 0;
}

table td,
table th{

    padding: 10px;
    text-align: center;
}



.tdlabel{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.name:hover{

    transform: scale(1.2);
    
    transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
}

.name:hover span {
   color: #0da6ddf2;
}

.tdSucces{
    color: #12f98a;
}

.tdFailure{

    color: #f91257;
}

.btnMais{

    background-color: #30beff;
    padding: 8px 24px;
    color: #fff;
    
    border-radius: 8px;
    text-align: center;


}

.btnContainer {
    display: flex;
    justify-content: center;
}

.btnOrder{
    cursor: pointer;
}

