* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #18171c;
  width: 100%;
  font-family: roboto,sans-serif;
  color:white


}

button {
  cursor: pointer;
  border: 0;
}

a{
  text-decoration: none;
  color: #fff;
}